@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .navbar_link:hover{
    color: #FF8F9C;
    transition:  all 0.4s;
  }

  .navbar_link::after {
    position: absolute;
    content: "";
    height: '3px';
    width: 100%;
    background-color: #ff8f9c;
    left: 0;
    scale: 0;
    transform-origin: left;
    transition: all 0.4s;
  }

  .navbar_link::before{
    scale: 1
  }

}